<% content_for(:title_tag) do %>
  <%= @type.name %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <% if @type.photo? %>
      <div class="col-xs-12 col-sm-4 card-show" style='background-image: linear-gradient(rgba(0,0,0,0.3),
                                                     rgba(0,0,0,0.2)),
                                                      url("<%= cl_image_path @type.photo.path %>");'>
    <% else %>
      <div class="col-xs-12 col-sm-4">
    <% end %>
        <div class="card-description">
          <h2><%= @type.name %></h2>
        </div>
      </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>




<%= link_to "types", types_path %>
